server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:h2:mem:examdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    schema: classpath:schema.sql
  h2:
    console:
      enabled: true
      path: /h2-console
  mybatis-plus:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.example.examsystembackend.entity
    configuration:
      map-underscore-to-camel-case: true
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
      default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler

logging:
  level:
    root: info
    com.example.examsystembackend: debug